# Build and Bins
.gradle/
bin/
build/
run/*

# IDEs
.settings/
.classpath
.project

# Launching
runClient.launch
runData.launch
runGameTestServer.launch
runServer.launch

# Misc
cgm-1.0.1-1.16.3.jar
obfuscate-0.6.2-1.16.3.jar
SourceTree.lnk